---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
export async function getStaticPaths(){
    const allArticles = await getCollection("articles");
    const categories = [... new Set(allArticles.map((article) => article.data.categories).flat())];
    return categories.map((category) =>{
        const filteredCategories = allArticles.filter((article)=>{
            return article.data.categories.includes(category);
        });
        return {
            params: {category},
            props: {articles: filteredCategories},
        }
    });
}


const {category} = Astro.params;
const {articles} = Astro.props;
---

<PageLayout title={`Category: ${category}`}>
    <ul class="list-disc pl-5 underline underline-offset-4 text-lg">
        {articles.map((article)=>{
            return <li>
                <a href={`/articles/${article.slug}/`}>{article.data.title}</a>
            </li>
        })}
    </ul>
</PageLayout>