---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
export async function getStaticPaths(){
    const allArticles = await getCollection("articles");
    const categories = [... new Set(allArticles.map((article) => article.data.categories).flat())];
    return categories.map((category) =>{
        const filteredCategories = allArticles.filter((article)=>{
            return article.data.categories.includes(category);
        });
        return {
            params: {category},
            props: {articles: filteredCategories},
        }
    });
}


const {category} = Astro.params;
const {articles} = Astro.props;
---

<MainLayout>
    <div class="p-3">
        <h1>{category}</h1>
        <ul>
            {articles.map((article)=>{
                return <li>
                    <a href={`/articles/${article.slug}/`}>{article.data.title}</a>
                </li>
            })}
        </ul>
    </div>
</MainLayout>