---
import type { MarkdownHeading } from "astro";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import ContentTable from "../components/ContentTable.astro";
import MainLayout from "./MainLayout.astro";
const { frontmatter, headings } = Astro.props;
var options = { year: 'numeric', month: 'short', day: '2-digit' };
const fDate = frontmatter.pubDate.toLocaleDateString(undefined, options);
const fUpdateDate = frontmatter.updateDate ? frontmatter.updateDate.toLocaleDateString(undefined, options) : undefined;
---
<MainLayout pageTitle={frontmatter.title}>
    <div class="flex flex-row">
        <ContentTable headings={headings}></ContentTable>
        <div class="flex flex-col p-5 gap-5 w-full">
            <h2 class="text-2xl font-bold text-primary-light dark:text-primary-dark sm:text-3xl lg:text-4xl">{frontmatter.title}</h2>
            <p class="text-xs sm:text-sm lg:text-base">
                Published on: <span class="text-secondary-dark dark:text-secondary-light">{fDate}</span> 
                <br>
                Written by <span class="text-secondary-dark dark:text-secondary-light">{frontmatter.author}</span>
                { fUpdateDate == undefined ? "" : <br><span>Last updated on: <span class="text-secondary-dark dark:text-secondary-light">{fUpdateDate}</span></span> }
            </p>
            <img class="w-full" src={frontmatter.image.url} alt={frontmatter.image.alt} />
            <div class="prose dark:prose-invert prose-sm prose-headings:mt-3.5 prose-headings:mb-1.5 prose-headings:text-primary-light dark:prose-headings:text-primary-dark w-full max-w-fit px-5
                        sm:prose-base lg:prose-lg">
                
                <slot />
            </div>
            
        </div>
    </div>
    
    
</MainLayout>